<!--		Start FAQ Intro -->
<section class="faq text-center">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <hr />
    <p class="lead">
      We are here to answer all your questions, problems & thoughts <br />
      And We hope that our answers helps <br />
      Your Site
    </p>
  </div>
</section>

<!--		End FAQ Intro -->

<!--		Start FAQ Accordion -->
<section class="faq-questions">
  <div class="container">
    <div
      class="panel-group"
      id="accordion"
      roles="tablist"
      aria-multiselectablr="true"
    >
      <!--Start Question One -->

      <div class="panel panel-default">
        <div class="panel-heading cursor" roles="tab" id="heading-one">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse-one"
              aria-expanded="true"
              aria-controls="collapse-one"
            >
              #01 How To Use bootstrap Library?
            </a>
          </h4>
        </div>
        <div
          id="collapse-one"
          class="panel-collapse collapse in"
          roles="tabpanel"
          aria-labelledby="heading-one"
        >
          <div class="panel-body">
            Its used By importion the css & jquery files to your Project
          </div>
        </div>
      </div>

      <!--End Question One -->

      <!--Start Question two -->

      <div class="panel panel-default">
        <div class="panel-heading" roles="tab" id="heading-two">
          <h4 class="panel-title">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse-two"
              aria-expanded="true"
              aria-controls="collapse-one"
            >
              #02 How To Use bootstraap with Angular Library?
            </a>
          </h4>
        </div>
        <div
          id="collapse-two"
          class="panel-collapse collapse"
          roles="tabpanel"
          aria-labelledby="heading-two"
        >
          <div class="panel-body">
            It is used by installing bootstrap by npm to your Project
          </div>
        </div>
      </div>

      <!--End Question two -->

      <!--Start Question three -->

      <div class="panel panel-default">
        <div class="panel-heading" roles="tab" id="heading-three">
          <h4 class="panel-title">
            <a
              class="collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse-three"
              aria-expanded="true"
              aria-controls="collapse-three"
            >
              #03 How To Use back and front end to be a full stack?
            </a>
          </h4>
        </div>
        <div
          id="collapse-three"
          class="panel-collapse collapse"
          roles="tabpanel"
          aria-labelledby="heading-three"
        >
          <div class="panel-body">
            It is better to have a perfect match while learing as Mean stack
          </div>
        </div>
      </div>

      <!--End Question three -->
    </div>
  </div>
</section>

<!--		End FAQ Accordion -->
