<!--		Start Section Footer -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h3>Site Map</h3>
        <ul class="list-unstyled three-columns">
          <li>Home</li>
          <li>About</li>
          <li>Company</li>
          <li>Code</li>
          <li>Design</li>
          <li>Host</li>
          <li>Solutions</li>
          <li>Site Map</li>
          <li>Contact Us</li>
        </ul>
        <ul class="list-unstyled social-list">
          <li>
            <img src="../../assets/imgs/ffacebooklogo.png" alt="facebook" />
          </li>
          <li>
            <img src="../../assets/imgs/ggoglepluslogo.png" alt="googleplus" />
          </li>
          <li>
            <img src="../../assets/imgs/tttwitterlogo.png" alt="twitter" />
          </li>
          <li>
            <img src="../../assets/imgs/pinerestlogo.png" alt="pinterest" />
          </li>
          <li><img src="../../assets/imgs/emaillogo.png" alt="email" /></li>
          <li>
            <img src="../../assets/imgs/wwwwhatsapplogo.png" alt="whatsapp" />
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <h3>Latest Article</h3>

        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="media-object"
              src="../../assets/imgs/ddesign-icon.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Design</h4>
            It is to make you see your requirments.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="media-object"
              src="../../assets/imgs/ccalulatoricon.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Programming</h4>
            It is a technical way to solve problems.
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="media-object"
              src="../../assets/imgs/ccodingicon.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Coding</h4>
            It is how we use programming
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>Our Awesome Work</h3>
        <img
          class="img-thumbnail"
          src="../../assets/imgs/11.jpg"
          alt="img1"
          width="64"
          height="64"
        />
        <img
          class="img-thumbnail"
          src="../../assets/imgs/222.jpg"
          alt="img2"
          width="64"
          height="64"
        />
        <img
          class="img-thumbnail"
          src="../../assets/imgs/33.jpg"
          alt="img3"
          width="64"
          height="64"
        />
        <img
          class="img-thumbnail"
          src="../../assets/imgs/44444.jpg"
          alt="img4"
          width="64"
          height="64"
        />
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2020 <span>ELZoser</span>.Inc
  </div>
</section>

<!--		End Section Footer -->
