<!--		Start About Us intro -->

<section class="about-us text-center">
  <div class="container">
    <h1>About Us</h1>
    <hr />
    <p class="lead">
      We aim to deliver creative, easy-to-use, and secure custom-made solutions
      using the latest trends,

      <br />
      personalize branding identity, modern development tools, and guaranteed
      leading <br />
      Your Site
    </p>
    <img src="../../assets/imgs/Companyphoto.jpg" alt="company" />
  </div>
</section>

<!--		End About Us intro -->

<!--		Start About Features -->
<section class="about-features text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-code fa-5x"></i>
        <h2>We Love Programing</h2>
        <p class="lead">
          We are in love with programming<br />
          that we have passion to develop<br />
          Your Site
        </p>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-child fa-5x"></i>
        <h2>We Solve Issues</h2>
        <p class="lead">
          We are happy to solve all the development issues in<br />
          Your Site
        </p>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-group fa-5x"></i>
        <h2>We are Social</h2>
        <p class="lead">
          We are very flexible to communicate with Us, & that will reflex on
          <br />
          Your Site
        </p>
      </div>
    </div>
  </div>
</section>

<!--		End About Features -->

<!--		Start About CEO-->
<section class="about-ceo">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img
          class="img-responsive"
          src="../../assets/imgs/Bussinessman.png"
          alt="CEO"
        />
      </div>

      <div class="col-sm-7">
        <h2 class="h1">We Are Here To Help You</h2>
        <p class="lead">
          We are always here to make all your dreams come true on <br />
          Your Site
        </p>
        <a href="#" class="btn btn-primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<!--		End About CEO-->
