<!--		Start Carousel -->

<div id="myslide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myslide" data-slide-to="0" class="active"></li>
    <li data-target="#myslide" data-slide-to="1"></li>
    <li data-target="#myslide" data-slide-to="2"></li>
    <li data-target="#myslide" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" data-interval="4000">
      <img src="imgs/11.jpg" alt="11" />
      <div class="carousel-caption hidden-xs" width="1920" height="600">
        <h2 class="h1">Trusted Quality</h2>
        <p class="lead">
          Nobody has time for system downtime. That’s why our ThinkPad laptops
          undergo stringent MIL-SPEC testing and hundreds of quality checks to
          ensure durability.
        </p>
      </div>
    </div>

    <div class="item" data-interval="4000">
      <img src="/imgs/222.jpg" alt="22" width="1920" height="600" />
      <div class="carousel-caption hidden-xs">
        <h2 class="h1">Epic Battery Life</h2>
        <p class="lead">
          you need to be able to rely on your device—especially when you’re on
          the go.sThat’s why our devices are renowned for epic battery life.
        </p>
      </div>
    </div>

    <div class="item" data-interval="4000">
      <img src="/assets/imgs/33.jpg" alt="33" width="1920" height="600" />
      <div class="carousel-caption hidden-xs">
        <h2 class="h1">Seamsless Security</h2>
        <p class="lead">
          an integrated suite of security features that deliver seamless
          protection to your system and your assets.
        </p>
      </div>
    </div>

    <div class="item" data-interval="4000">
      <img
        src="assets/imgs/44444.jpg"
        alt="44"
        width="1920"
        height="600"
      />
      <div class="carousel-caption hidden-xs">
        <h2 class="h1">Cool & Quite</h2>
        <p class="lead">
          Keeps its cool We’ve engineered Intelligent Cooling Engines into our
          PCs to prevent overheating and to ensure a quieter experience.
        </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a
    class="left carousel-control"
    href="#myslide"
    role="button"
    data-slide="prev"
  >
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="right carousel-control"
    href="#myslide"
    role="button"
    data-slide="next"
  >
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--		End Carousel -->

<!--		Start Section About -->

<section
  class="about text-center wow bounceIn"
  data-wow-duration="5s"
  data-wow-offset="300"
>
  <div class="container">
    <h1>Meet Our New Templete <span>ElZoser Inc.</span></h1>
    <p class="lead">
      Hello Let Me Introduce Our Templete ElZoser Inc. That Created With All The
      Love With <strong>BootStrap</strong> 3.2.0
    </p>
  </div>
</section>

<!--		End Section About -->

<!--		Start Section Features -->

<section class="features text-center">
  <div class="container">
    <h2 class="h1">Our Features</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-ok"></span>
          <h3>100% Responsive</h3>
          <p>
            In the field of Web design and development, we’re quickly getting to
            the point of being unable to keep up with the endless new
            resolutions and devices.Should we just suffer the consequences of
            losing visitors from one device
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <h3>Retina Ready</h3>
          <p>
            A Retina display device, displaying a website that serves
            Retina-ready graphics (higher resolution) will display sharper
            images and brighter, more vivid colours.and make screen quality
            almost on a par with print quality.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h3>Awesome Plugins</h3>
          <p>
            Amazing plugin is a piece of software that acts as an add-on to a
            web browser and gives the browser additional functionality. Plugins
            can allow a web browser to display additional content it was not
            originally designed to display
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-pencil"></span>
          <h3>Well Documented</h3>
          <p>
            To give you the most useful information, Search algorithms look at
            many factors, including the words of your query, relevance and
            usability of pages, expertise of sources and your location and
            settings.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--		End Section Features -->

<!--		Start Testimonials  Section -->

<section class="testimonials text-center">
  <div class="container">
    <h2 class="h1">What Our Clients Say</h2>

    <!--		Start Testimonials Carousel -->

    <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <p class="lead">
            We've been blown away by the incredible value you deliver, and how
            your work has translated into increased page view times, lead
            generations, and dramatic decreases in bounce rate and required
            support.
          </p>
          <span>Black Widow</span>
        </div>

        <div class="item">
          <p class="lead">
            I’ve had some questionable experiences with other web agencies in
            the past, but Followbright has hands down been the best web company
            we’ve worked with, providing us with peace of mind and incredible
            service.
          </p>
          <span>Iron Man</span>
        </div>

        <div class="item">
          <p class="lead">
            To find a team of individuals that are responsive, fun to work with,
            creative, pragmatic, mindful of a client's budget and schedule,
            Angular based web development, strategy, design, marketing and
            functionality is extremely rare.
          </p>
          <span>Yasmin Sabry</span>
        </div>

        <div class="item">
          <p class="lead">
            You nailed it: you delivered on time and on budget and did so with
            grace and flexibility. You shined when it came to ease of the
            process and how you adapted when things don't go as planned. Your
            communication, understanding, and excitement make you stand out
            above other web firms.
          </p>
          <span>Spider Man</span>
        </div>
      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li
          data-target="#carousel-testimonials"
          data-slide-to="0"
          class="active"
        >
          <img
            src="../../assets/imgs/blackwidow.jfif"
            alt="spiderman"
            width="74"
            height="74"
          />
        </li>
        <li data-target="#carousel-testimonials" data-slide-to="1">
          <img
            src="../../assets/imgs/ironman.jpg"
            alt="ironman"
            width="74"
            height="74"
          />
        </li>
        <li data-target="#carousel-testimonials" data-slide-to="2">
          <img
            src="../../assets/imgs/deadpool.jfif"
            alt="deadpool"
            width="74"
            height="74"
          />
        </li>
        <li data-target="#carousel-testimonials" data-slide-to="3">
          <img
            src="../../assets/imgs/spider.jpg"
            alt="spiderman"
            width="74"
            height="74"
          />
        </li>
      </ol>
    </div>
  </div>

  <!--		End testimonials Carousel -->
</section>

<!--		End Testimonials  Section -->

<!--		Start Section Price Table -->

<section class="price-table text-center">
  <div class="container">
    <h2 class="h1">Our Awesome Plans</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-primary">Hosting</h2>
          <p class="center-block">30$</p>
          <ul class="list-unstyled">
            <li>Space : 30GB</li>
            <li>Emails : 20</li>
            <li>Ips : 2 IP</li>
            <li>Databases : 10</li>
            <li>FB Accounts : 5</li>
          </ul>
          <a href="#" class="btn btn-primary">Order Now</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-success">VPN</h2>
          <p class="center-block">60$</p>
          <ul class="list-unstyled">
            <li>Space : 45GB</li>
            <li>Emails : 30</li>
            <li>Ips : 3 IP</li>
            <li>Databases : 15</li>
            <li>FB Accounts :8</li>
          </ul>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-info">Dedicated</h2>
          <p class="center-block">80$</p>
          <ul class="list-unstyled">
            <li>Space : 60GB</li>
            <li>Emails : 40</li>
            <li>Ips : 5 IP</li>
            <li>Databases : 20</li>
            <li>FB Accounts : 10</li>
          </ul>
          <a href="#" class="btn btn-info">Order Now</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-danger">Cloud</h2>
          <p class="center-block">100$</p>
          <ul class="list-unstyled">
            <li>Space : 80GB</li>
            <li>Emails : 50</li>
            <li>Ips : 10 IP</li>
            <li>Databases : 30</li>
            <li>FB Accounts : 15</li>
          </ul>
          <a href="#" class="btn btn-danger">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--		End Section Price Table -->

<!--		Start Section Our Team -->

<section class="our-team text-center">
  <div class="team">
    <div class="container">
      <h2 class="h1">Meet Our Awesome Team</h2>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="person">
            <img
              class="img-circle"
              src="../../assets/imgs/yasmin.jfif"
              alt="yasmin"
            />
            <h3>Yasmin Sabry</h3>
            <p>
              This is Yasmin Sabry The Owner Of Our Website Who Is Very Smart
            </p>
            <i class="fa fa-google-plus fa-lg"></i>
            <i class="fa fa-facebook fa-lg"></i>
            <i class="fa fa-twitter fa-lg"></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="person">
            <img
              class="img-circle"
              src="../../assets/imgs/megan.jfif"
              alt="megan"
            />
            <h3>Megan Fox</h3>
            <p>This is Megan Fox The Owner Of Our Market Who Is Very Sexy</p>
            <i class="fa fa-google-plus fa-lg"></i>
            <i class="fa fa-facebook fa-lg"></i>
            <i class="fa fa-twitter fa-lg"></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="person">
            <img
              class="img-circle"
              src="../../assets/imgs/steve.jfif"
              alt="steve"
            />
            <h3>Steve Jobs</h3>
            <p>This is Steve Jobs The Owner Of Our Apple Who Is Very Hot</p>
            <i class="fa fa-google-plus fa-lg"></i>
            <i class="fa fa-facebook fa-lg"></i>
            <i class="fa fa-twitter fa-lg"></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="person">
            <img
              class="img-circle"
              src="../../assets/imgs/scarlett.jpg"
              alt="scarlet"
            />
            <h3>Scarlett johnson</h3>
            <p>
              This is Scarlett Johnson The Owner Of Our Course Who Is Very Sexy
            </p>
            <i class="fa fa-google-plus fa-lg"></i>
            <i class="fa fa-facebook fa-lg"></i>
            <i class="fa fa-twitter fa-lg"></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--		End Section Our Team -->

<!--		Start Subscribe Section -->

<section class="subscribe text-center">
  <div class="container">
    <h2 class="h1">Keep In Touch</h2>
    <p class="lead">
      Sign Up For Newsletter Dont Worry About Spam We Hate It Too.
    </p>
    <form class="form-inline">
      <input
        class="form-control input-lg"
        type="text"
        placeholder="Write Your Email"
      />
      <button class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-hand-up"> </span> Subscribe
      </button>
    </form>
  </div>
</section>

<!--		End Subscribe Section -->

<!--		Start Section Statistics-->

<section class="statistics text-center">
  <div class="data">
    <div class="container">
      <h2 class="h1">Our Main Statistics</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-users fa-5x"></i>
            <p>9,550</p>
            <span>Satisfied Users</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-comments fa-5x"> </i>
            <p>25,620</p>
            <span>Posted Comments</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-suitcase fa-5x"></i>
            <p>3,260</p>
            <span>Projects Done</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-support fa-5x"></i>
            <p>95,630</p>
            <span>Tickets Archieved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--		Start Section Statistics-->

<!--		Start Section Our Skills-->
<section class="our-skills">
  <div class="container">
    <h2 class="text-center">Our Skills</h2>
    <div class="row">
      <!--Start Progress Skills-->

      <div class="col-md-5">
        <div class="skills-progress">
          <div class="progress">
            <div
              class="progress-bar progress-bar-success progress-bar-striped active"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            >
              Html5 / Css3
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-warning progress-bar-striped active"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 90%"
            >
              PHP / MySQL
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-danger progress-bar-striped active"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 60%"
            >
              Javascript / jQuery
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped active"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 95%"
            >
              Wordpress
            </div>
          </div>
        </div>
      </div>

      <!--End Our Progress Skills-->

      <!--Start Team Info-->

      <div class="col-md-5 col-md-offset-1">
        <div class="skills-info">
          <h3>About The Team</h3>
          <p class="lead">
            Our Team is a great team that is Speciallised at Designing Web Sites
            and we do it with Passion ,So we create digital ideas that will blow
            your mind and will make all your dreams come true
          </p>
          <button type="button" class="btn btn-primary">
            Talk With A Professional
          </button>
        </div>
      </div>

      <!--End Our Team Info-->
    </div>
  </div>
</section>

<!--		End Section Our Skills-->

<!--		Start Section Contact Us -->
<section class="contact-us text-center">
  <div class="fields">
    <div class="container">
      <div class="row">
        <i class="fa fa-headphones fa-5x"></i>
        <h2 class="h1">Tell Us What You Feel</h2>
        <p class="lead">Feel Free To Contact Us anytime</p>

        <!--Start Contact Form-->
        <form role="form">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control input-lg"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control input-lg"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control input-lg"
                placeholder="Cell Phone"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea
                class="form-control input-lg"
                placeholder="Your Message"
              ></textarea>
            </div>
            <button class="btn btn-danger btn-block">Contact Us</button>
          </div>
        </form>

        <!--End Contact Form-->
      </div>
    </div>
  </div>
</section>

<!--		End Section Contact Us -->

<!--		Start Section Our Clients -->
<section class="our-clients">
  <div class="container">
    <div class="row">
      <ul class="list-unstyled">
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/sxx.png"
            alt="bbc"
          />
        </li>
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/cnn.png"
            alt="CNN"
          />
        </li>
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/forbess.png"
            alt="Forbes"
          />
        </li>
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/wired.png"
            alt="Wired"
          />
        </li>
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/wsjj.png"
            alt="WSJ"
          />
        </li>
        <li class="col-md-2 col-xs-4">
          <img
            class="img-responsive center-block"
            src="../../assets/imgs/techradar.png"
            alt="Techradar"
          />
        </li>
      </ul>
    </div>
  </div>
</section>

<!--		End Section Our Clients -->

<!--		Start Scroll To Top -->
<div id="scroll-top">
  <i class="fa fa-chevron-up fa-3x"></i>
</div>

<!--		End Scroll To Top -->
